@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;700&display=swap');

:root {
	--background: #121214;
	--primary: #6833e4;
	--primary-light: #7137fa;
	--primary-hover: #5a2cc7;
	--secondary: #a682fb;
	--seconday-hover: #8467c7;
	--text: #a8a8b3;
	--text-secondary: #d7d7d7;
	--border: #666666;
  --background-color: #252525;
}

body {
	font-family: 'Mukta', sans-serif;
	color: var(--text);
	background: var(--background);
	padding: 30px;
	-webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
}

hr {
	margin-bottom: 25px;
	border: 1px solid var(--border);
	background-image: linear-gradient(to bottom, var(--border), transparent);
	border-image: linear-gradient(to bottom, var(--border), transparent) 1;
	-webkit-border-image: linear-gradient(to bottom, var(--border), transparent) 1;
}

.badge {
	cursor: pointer;
}

.img-tech {
	height: 80px;
	padding: 15px;
	max-width: 100%;
}

.btn-resume {
	background: var(--primary);
}

.btn-resume:hover {
	background: var(--primary-hover);
}

a {
	color: var(--secondary);
	font-size: 14px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
}

a:hover {
	text-decoration: underline;
	color: var(--seconday-hover);
}

a:focus {
	text-decoration: none;
}

p {
	line-height: 1.5;
}

.note {
  color: var(--text-secondary);
  font-size: smaller;
  font-style: italic;
}

.wrapper {
	max-width: 960px;
	margin: 0 auto;
	position: relative;
	-webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.sidebar-wrapper {
	background: #202024;
	border-radius: 0 10px 10px 0;
	position: absolute;
	right: 0;
	width: 255px;
	height: 100%;
	min-height: 800px;
	color: #fff;
}

.sidebar-wrapper a {
	color: #fff;
}

.sidebar-wrapper .profile-container {
	padding: 30px;
	background: rgba(0, 0, 0, 0.2);
	text-align: center;
	color: #fff;
}

.sidebar-wrapper .name {
	font-size: 21px;
	font-weight: 900;
	margin-top: 0;
	margin-bottom: 10px;
}

.sidebar-wrapper .tagline {
	color: rgba(255, 255, 255, 0.6);
	font-size: 14px;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 0;
}

.sidebar-wrapper .profile {
	margin-bottom: 15px;
}

.sidebar-wrapper .contact-list .fa {
	margin-right: 5px;
	font-size: 18px;
	vertical-align: middle;
}

.sidebar-wrapper .contact-list li {
	margin-bottom: 15px;
}

.sidebar-wrapper .contact-list li:last-child {
	margin-bottom: 0;
}

.sidebar-wrapper .contact-list .email .fa {
	font-size: 14px;
}

.sidebar-wrapper .container-block {
	padding: 15px 19px;
}

.sidebar-wrapper .container-block-title {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 15px;
}

.sidebar-wrapper .degree {
	font-size: 14px;
	margin-top: 0;
	margin-bottom: 5px;
}

.sidebar-wrapper .education-container .item {
	margin-bottom: 15px;
}

.sidebar-wrapper .education-container .item:last-child {
	margin-bottom: 0;
}

.sidebar-wrapper .education-container .meta {
	color: rgba(255, 255, 255, 0.6);
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 0px;
	margin-top: 0;
}

.sidebar-wrapper .education-container .time {
	color: rgba(255, 255, 255, 0.6);
	font-weight: 500;
	margin-bottom: 0px;
}

.sidebar-wrapper .languages-container .lang-desc {
	color: rgba(255, 255, 255, 0.6);
}

.sidebar-wrapper .languages-list {
	margin-bottom: 0;
}

.sidebar-wrapper .languages-list li {
	margin-bottom: 10px;
}

.sidebar-wrapper .languages-list li:last-child {
	margin-bottom: 0;
}

.sidebar-wrapper .interests-list {
	margin-bottom: 0;
}

.sidebar-wrapper .interests-list li {
	margin-bottom: 10px;
}

.sidebar-wrapper .interests-list li:last-child {
	margin-bottom: 0;
}

.main-wrapper {
	background: var(--background-color);
	padding: 60px;
	padding-right: 300px;
	border-radius: 10px;
}

.main-wrapper .section-title {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 500;
	color: #e7e7e7;
	position: relative;
	margin-top: 0;
	margin-bottom: 20px;
}

.main-wrapper .section-title .fa {
	width: 30px;
	height: 30px;
	margin-right: 8px;
	display: inline-block;
	color: #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background: var(--primary-light);
	text-align: center;
	padding-top: 8px;
	font-size: 16px;
	position: relative;
	top: -2px;
}

.main-wrapper .section {
	margin-bottom: 60px;
}

.main-wrapper .experiences-section .item {
	margin-bottom: 30px;
}

.main-wrapper .upper-row {
	position: relative;
	overflow: hidden;
	margin-bottom: 2px;
}

.main-wrapper .job-title {
	color: #ffffff;
	font-size: 16px;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 500;
}

.main-wrapper .time {
	position: absolute;
	right: 0;
	top: 0;
	color: var(--secondary);
}

.main-wrapper .company {
	margin-bottom: 10px;
	color: var(--secondary);
}

.meta .company {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.meta .contractor-type {
	color: var(--text-secondary);
	font-size: 14px;
}

.main-wrapper .project-title {
	font-size: 16px;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 5px;
	color: var(--secondary);
}

.details strong {
	color: #fff;
	font-size: 13px;
}

.main-wrapper .projects-section .item {
	margin-bottom: 15px;
}

.margin-bottom {
  margin-bottom: 10px;
}

.card-container {
	border: 1px solid var(--border);
	border-radius: 5px;
	cursor: pointer;
}

.card-image {
	border-bottom: 1px solid var(--border);
	border-radius: 5px 5px 0 0;
	background: rgba(200, 200, 200, 0.1);
}

.card-body {
	border-radius: 0 0 5px 5px;
	color: white;
	font-weight: bold;
	padding: 7px;
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
	.sidebar-wrapper {
		position: static;
		width: inherit;
		border-radius: 10px 10px 0 0;
	}

	.main-wrapper {
		padding: 30px;
		border-radius: 0 0 10px 10px;
	}

	.main-wrapper .time {
		position: static;
		display: block;
		margin-top: 5px;
	}

	.main-wrapper .upper-row {
		margin-bottom: 0;
	}
}

.img-profile {
	border: 3px solid;
	padding: 7px;
}

.email {
	font-size: 13px;
}

.phone {
	font-size: 15px;
}

.linkedin {
	font-size: 13px;
}

/* Barra de rolagem */
body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: var(--background-color);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--border);
  border-radius: 4px;
}

body::-webkit-scrollbar-track {
  background-color: var(--background-color);
  border-radius: 4px;
}
